body {
   color: #40514e !important;
  margin: 0 0 0 0 !important;
  text-align: center !important;
  font-family: 'Merriweather', serif !important;
}

h1{
  color: #66bfbf !important;
  margin: 0 !important;
  font-family: 'Sacramento', cursive !important;
  font-size: 5.625rem !important;
  margin:52px auto 0 auto !important;
  line-height: 2 !important;
  text-align: center !important;
}
h2 {
  color: #66bfbf !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 2.5rem !important;
  font-weight: normal !important;
  padding-bottom: 10px !important;
}

h3 {
    color: #66bfbf !important;
  font-family: 'Montserrat', sans-serif !important;

}
p{
    line-height: 2 !important;
}
hr{
  border: dotted #EAF6F6 6px !important;
  border-bottom: none !important;
  width:6% !important;
  margin: 100px auto !important;
}
a{
  color : #11999E;
  font-family: 'Montserrat', sans-serif !important;
  margin: 20px 10px !important;
  text-decoration: none !important;
}
a:hover{
  color: #EAF6F6 !important;
}
.top-container {
  background-color: #E4F9F5 !important;
  padding-top: 100px !important;
}

.middle-container {

}

.bottom-container {
  background-color: #66BFBF!important;
  margin-top: 50px!important;
  padding: 50px 0 20px!important;
  margin-bottom:  0px !important;
  border-bottom: none!important;
}
.software {
  text-decoration: underline !important;
}
.intro{
  width: 30% !important;
  margin: auto !important;

}
.contact-message{
  width: 40% !important;
  margin: 40px auto 60px !important;
}
.copyright{
  color: #EAF6F6 !important;
  font-size: 12px !important;
  padding: 20px 0px !important;
  height: 0px !important;
}
.top-cloud {
  position: absolute !important;
  right: 300px !important;
  top: 40px !important;
}

.bottom-cloud {
  position: absolute !important;
  left: 200px !important;
  bottom: 150px !important;
 !important}

.skill-row{
  width:50% !important;
  margin:100px auto 100px auto !important;
  text-align: left !important;
  line-height: 2 !important;
}
.code-img{
  width: 25% !important;
  float: left;
  margin-right: 30px !important;
}
.chilli-img{
  width: 25% ;
  float:right;
  margin-left: 30px;
}
.btn {
  background: #11cdd4 !important; !important
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E) !important;
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E) !important;
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E) !important;
  background-image: -o-linear-gradient(top, #11cdd4, #11999E) !important;
  background-image: linear-gradient(to bottom, #11cdd4, #11999E) !important;
  -webkit-border-radius: 8 !important;
  -moz-border-radius: 8 !important;
  border-radius: 8px !important;
  text-shadow: 2px 1px 3px #666666 !important;
  font-family: 'Montserrat', sans-serif !important;
  color: #ffffff !important;
  font-size: 20px !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
  margin: auto !important;
}

.btn:hover {
  background: #30E3CB !important;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD) !important;
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD) !important;
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD) !important;
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD) !important;
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD) !important;
  text-decoration: none !important;
}

#title{
  background-color: #ff4c68 !important;
  color: #ffffff !important;
}
.container-fluid{
  padding: 3% 15% !important !important;
}

/* navigation bar */
.navbar{
  padding:0 0 4.5rem 0  !important;
}
.navbar-brand{
  font-family: ubuntu !important;
  font-size: 2.5rem !important;
  font-weight: bold !important;
}
.nav-item{
  padding: 0px 18px !important;

}
.nav-link{
  font-size: 1.5rem !important;
  font-family: "Montserrat-Light" !important;
}

/* image title */

.awesome-icon{
  width: 70px !important;
  height: 70px !important;
}
/* features section */
#features{
  padding: 7% 15% !important;

}
.feature-box{
    text-align: center !important;
    padding: 5% !important;
}
.icon{
  color: #ef8172 !important;
  margin-bottom: 1rem !important;
}
.icon:hover{
  color: #ff4c65 !important;
}

